<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kirjalomake</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Kirja</h1>

	<form action="#" th:action="@{/newbook}"  th:object= ${book} method="post">
	<p>Title: <input type="text" th:field="${book.title}" /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
				
	<p><label for="ctgrlist">Category: </label>
		 <select id="ctgrlist" th:field="*{category}" class="form-control">
      			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
         </select>
    </p>
	<input type="submit" value="Lähetä" /> <input type="reset" value="Tyhjennä" />
	</form>
    
</body>
</html>